<% debug @areas %>

<div id="wrapper">
  <div id="object_list" style="display:none; float:right;"></div>
  <div id="ammap_world"></div>

  <div id="console" style="display: none;">
    <%= image_tag 'info.png', size: '32x32', onclick: '$("#info_world").toggle();' %>
  </div>

  <div id="info_world">
    <% render partial: 'info_world' %>
  </div>
</div>

<%= javascript_tag render partial: 'map_world', formats: [:js] %>